<main class="page-content">
  <header class="page-content__header">
    <h1 class="page-content__title">
      <%= name %>
    </h1>
    <p class="page-content__details">
      You have <span class="page-content__counter"><%= counter %></span> <%=
      description %>.
    </p>
  </header>
  <section class="<%= urlName %> tasks">
    <section class="all__tasks">
      <% for(var i = 0; i < tasks.length; i++) { %>
      <article class="all__task task">
        <div>
          <div class="contexts">
            <% for(var j = 0; j < tasks[i].contexts.length; j++) { %>
            <a href="<%= tasks[i].contexts[j].name %>" class="contexts__item <%= tasks[i].contexts[j].class %>"
              >@<%= tasks[i].contexts[j].name %></a>
            <% } %>
          </div>
          <h2 class="task__name">
            <%= tasks[i].title %>
          </h2>
          <p class="task__details">
            <%- tasks[i].details %>
          </p>
          <p class="task__delegation">
            <% if (tasks[i].waiting) { %> Delegated to:
            <span class="task__doer"><%= tasks[i].delegated %></span> <% } %>
          </p>
        </div>
        <div class="task__controllers">
          <form
            action="/tasks/<%= tasks[i]._id %>"
            class="task__delete-form"
            data-id="<%= tasks[i]._id %>"
          >
            <input class="task_delete" type="submit" value="" />
        </form>
        </div>
      </article>
      <% } %>
    </section>
  </section>
</main>
